## KPMG Virtual Internship (Module 1 Task - Transaction)

### Author: Ashley Ooi

In [1]:
# Importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Importing the xlsx file provided 
# pandas is used to read the file 'Transactions.xlsx'
df = pd.read_excel('Transactions.xlsx')
df.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [3]:
# Understanding the data
# Checking the number of rows and columns
df.shape

(20000, 13)

In [4]:
# checking the data types
df.dtypes

transaction_id                      int64
product_id                          int64
customer_id                         int64
transaction_date           datetime64[ns]
online_order                      float64
order_status                       object
brand                              object
product_line                       object
product_class                      object
product_size                       object
list_price                        float64
standard_cost                     float64
product_first_sold_date           float64
dtype: object

In [5]:
# checking the total number of NA for each of the columns
df.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [6]:
# Counts the unique values for column 'online_order'
df['online_order'].value_counts()

1.0    9829
0.0    9811
Name: online_order, dtype: int64

In [7]:
# Replace all NaN elements with mean of the column
mean = df['online_order'].mean()
df['online_order']=df['online_order'].fillna(mean)

In [8]:
# checking if all of the NaN elements is replaced to the mean
df['online_order'].isnull().sum()

0

In [9]:
# Counts the unique values for column 'brand'
df['brand'].value_counts()

Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64

In [10]:
# Replace all NaN elements with the last observed non-null value forward until another 
# non-null value is encountered
df['brand']=df['brand'].fillna(method='ffill')

In [11]:
# checking if all of the NaN elements is being replaced
df['brand'].isnull().sum()

0

In [12]:
# Counts the unique values for column 'product_line'
df['product_line'].value_counts()

Standard    14176
Road         3970
Touring      1234
Mountain      423
Name: product_line, dtype: int64

In [13]:
# Replace all NaN elements with the last observed non-null value forward until another 
# non-null value is encountered
df['product_line']=df['product_line'].fillna(method='ffill')

In [14]:
# checking if all of the NaN elements is being replaced
df['product_line'].isnull().sum()

0

In [15]:
# Counts the unique values for column 'product_class'
df['product_class'].value_counts()

medium    13826
high       3013
low        2964
Name: product_class, dtype: int64

In [16]:
# Replace all NaN elements with the last observed non-null value forward until another 
# non-null value is encountered
df['product_class']=df['product_class'].fillna(method='ffill')

In [17]:
# checking if all of the NaN elements is being replaced
df['product_class'].isnull().sum()

0

In [18]:
# Counts the unique values for column 'product_size'
df['product_size'].value_counts()

medium    12990
large      3976
small      2837
Name: product_size, dtype: int64

In [19]:
# Replace all NaN elements with the last observed non-null value forward until another 
# non-null value is encountered
df['product_size']=df['product_size'].fillna(method='ffill')

In [20]:
# checking if all of the NaN elements is being replaced
df['product_size'].isnull().sum()

0

In [21]:
# Counts the unique values for column 'standard_cost'
df['standard_cost'].value_counts()

388.920000    465
954.820000    396
53.620000     274
161.600000    235
260.140000    233
             ...
151.960000    124
206.350000    114
270.299988      1
667.400024      1
312.735016      1
Name: standard_cost, Length: 103, dtype: int64

In [22]:
# Replace all NaN elements with mean of the column
mean = df['standard_cost'].mean()
df['standard_cost']=df['standard_cost'].fillna(mean)

In [23]:
# checking if all of the NaN elements is replaced to the mean
df['standard_cost'].isnull().sum()

0

In [24]:
# Counts the unique values for column 'product_first_sold_date'
df['product_first_sold_date'].value_counts()

33879.0    234
41064.0    229
37823.0    227
39880.0    222
38216.0    220
          ...
41848.0    169
42404.0    168
41922.0    166
37659.0    163
34586.0    162
Name: product_first_sold_date, Length: 100, dtype: int64

In [25]:
# Replace all NaN elements with mean of the column
mean = df['product_first_sold_date'].mean()
df['product_first_sold_date']=df['product_first_sold_date'].fillna(mean)

In [26]:
# checking if all of the NaN elements is replaced to the mean
df['product_first_sold_date'].isnull().sum()

0

In [27]:
# displaying the first 10 rows of the dataset
df.head(10)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0
5,6,25,2339,2017-03-08,1.0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,39031.0
6,7,22,1542,2017-04-21,1.0,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,34165.0
7,8,15,2459,2017-07-15,0.0,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915.0
8,9,67,1305,2017-08-10,0.0,Approved,Solex,Standard,medium,large,1071.23,380.74,33455.0
9,10,12,3262,2017-08-30,1.0,Approved,WeareA2B,Standard,medium,medium,1231.15,161.60,38216.0

In [28]:
# setting the index to the column 'transaction_id'
df = df.set_index('transaction_id')

In [29]:
# displaying the first 5 rows of the dataset
df.head()

,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
transaction_id,,,,,,,,,,,,
1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [30]:
# double checking to make sure there is no NA values in each of the columns after data cleaning
df.isnull().sum()

product_id                 0
customer_id                0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
dtype: int64

In [31]:
df.to_excel("output.xlsx")